USE [master]
GO
/****** Object:  Database [QLNV]    Script Date: 10/21/2025 4:30:30 PM ******/
CREATE DATABASE [QLNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNV.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNV]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/21/2025 4:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessLogs]    Script Date: 10/21/2025 4:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[AccessPointID] [int] NULL,
	[AccessTime] [datetime] NULL,
	[AccessResult] [nvarchar](50) NULL,
	[AccessStatus] [nvarchar](20) NULL,
	[AccessType] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK__AccessLo__5E5499A83336688F] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessPoints]    Script Date: 10/21/2025 4:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessPoints](
	[AccessPointID] [int] IDENTITY(1,1) NOT NULL,
	[AccessName] [nvarchar](100) NULL,
	[Location] [nvarchar](200) NULL,
	[SiteID] [int] NULL,
	[DeviceType] [nvarchar](50) NULL,
	[DeviceData] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccessPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/21/2025 4:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[MemberCard] [nvarchar](255) NULL,
	[Department] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[AccessPointID] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[Phone] [nvarchar](12) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK__Employee__7AD04FF11F8BBBD3] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sites]    Script Date: 10/21/2025 4:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[SiteID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccessLogs] ON 

INSERT [dbo].[AccessLogs] ([LogID], [EmployeeID], [AccessPointID], [AccessTime], [AccessResult], [AccessStatus], [AccessType], [Note]) VALUES (33, 25, 1, CAST(N'2025-06-02T08:29:20.277' AS DateTime), N'Thành công', N'Vào làm', N'CheckIn', N'Đi trễ')
INSERT [dbo].[AccessLogs] ([LogID], [EmployeeID], [AccessPointID], [AccessTime], [AccessResult], [AccessStatus], [AccessType], [Note]) VALUES (34, 25, 1, CAST(N'2025-05-30T08:29:20.000' AS DateTime), N'Thành công', N'Tan ca', N'CheckIn', N'Đi trễ')
INSERT [dbo].[AccessLogs] ([LogID], [EmployeeID], [AccessPointID], [AccessTime], [AccessResult], [AccessStatus], [AccessType], [Note]) VALUES (37, 27, 2, CAST(N'2025-05-30T08:32:30.000' AS DateTime), N'Thành công', N'Vào làm', N'CheckIn', N'Đi trễ')
SET IDENTITY_INSERT [dbo].[AccessLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[AccessPoints] ON 

INSERT [dbo].[AccessPoints] ([AccessPointID], [AccessName], [Location], [SiteID], [DeviceType], [DeviceData], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (1, N'Tầng 1', N'Phòng kỹ thuật Cổng Tầng 1', 1, N'Card Reader', N'Quét thẻ từ', 1, CAST(N'2025-05-13T11:44:13.270' AS DateTime), CAST(N'2025-07-09T13:47:23.643' AS DateTime))
INSERT [dbo].[AccessPoints] ([AccessPointID], [AccessName], [Location], [SiteID], [DeviceType], [DeviceData], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (2, N'Tầng 2', N'Phòng Kế toán', 2, N'Card Reader', N'5872c036-2e6f-4b1a-ba6a-14fac941da97', 1, CAST(N'2025-05-13T11:44:13.270' AS DateTime), NULL)
INSERT [dbo].[AccessPoints] ([AccessPointID], [AccessName], [Location], [SiteID], [DeviceType], [DeviceData], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (6, N'Tầng 3', N'Kho', 3, N'Card Reader', N'918ce3d3-27c9-48c2-9a81-95f802ef02a6', 1, CAST(N'2025-05-13T00:00:00.000' AS DateTime), CAST(N'2025-06-03T13:26:37.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccessPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [EmployeeCode], [MemberCard], [Department], [Role], [AccessPointID], [Email], [Password], [Phone], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (25, N'Lan', N'KTN002', N'C3C60011', N'Kỹ thuật', N'Nhân viên', 1, N'l@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0987654321', 1, CAST(N'2025-05-27T12:13:56.450' AS DateTime), CAST(N'2025-07-09T14:02:48.443' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [EmployeeCode], [MemberCard], [Department], [Role], [AccessPointID], [Email], [Password], [Phone], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (26, N'Q', N'GD001', N'1', N'Giám đốc', N'admin', 5, N'q@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0987655678', 1, CAST(N'2025-05-30T10:38:44.613' AS DateTime), CAST(N'2025-07-22T09:27:59.057' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [EmployeeCode], [MemberCard], [Department], [Role], [AccessPointID], [Email], [Password], [Phone], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (27, N'A', N'KT001', NULL, N'Kế toán', N'Nhân viên', 2, N'a@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0987654322', 1, CAST(N'2025-05-30T10:49:10.020' AS DateTime), CAST(N'2025-05-30T10:49:21.203' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Sites] ON 

INSERT [dbo].[Sites] ([SiteID], [SiteName], [Address], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (1, N'Speed-POS', N'730 Võ Văn Kiệt', 1, CAST(N'2025-05-13T11:44:13.270' AS DateTime), CAST(N'2025-07-09T13:47:23.643' AS DateTime))
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Address], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (2, N'Tòa nhà M-H', N'456 Võ Văn Kiệt', 1, CAST(N'2025-05-13T11:44:13.270' AS DateTime), CAST(N'2025-07-09T14:13:16.470' AS DateTime))
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Address], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (3, N'Trung tâm thương mại', N'123 Võ Văn Kiệt', 1, CAST(N'2025-05-23T00:00:00.000' AS DateTime), CAST(N'2025-05-30T10:33:37.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sites] OFF
GO
ALTER TABLE [dbo].[AccessLogs] ADD  CONSTRAINT [DF__AccessLog__Acces__44FF419A]  DEFAULT (getdate()) FOR [AccessTime]
GO
ALTER TABLE [dbo].[AccessPoints] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccessPoints] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__IsAct__403A8C7D]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__Creat__412EB0B6]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sites] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sites] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AccessLogs]  WITH CHECK ADD  CONSTRAINT [FK_AccessLogs_AccessPoints] FOREIGN KEY([AccessPointID])
REFERENCES [dbo].[AccessPoints] ([AccessPointID])
GO
ALTER TABLE [dbo].[AccessLogs] CHECK CONSTRAINT [FK_AccessLogs_AccessPoints]
GO
ALTER TABLE [dbo].[AccessLogs]  WITH CHECK ADD  CONSTRAINT [FK_AccessLogs_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[AccessLogs] CHECK CONSTRAINT [FK_AccessLogs_Employees]
GO
ALTER TABLE [dbo].[AccessPoints]  WITH CHECK ADD  CONSTRAINT [FK_AccessPoints_Sites] FOREIGN KEY([SiteID])
REFERENCES [dbo].[Sites] ([SiteID])
GO
ALTER TABLE [dbo].[AccessPoints] CHECK CONSTRAINT [FK_AccessPoints_Sites]
GO
USE [master]
GO
